.page-pdf {
    margin: 50px 0;
    text-align: center;
}

.page-pdf .centralizar {
    display: flex;
    align-items: end;
    justify-content: center;
}

.ql-editor {
    width: 700px;
    min-height: 595px;
}


/* Preview --> */

#preview {
    text-align: initial;
    width: 237mm;
    height: 338mm;
    border: 1px solid #000;
    padding: 10mm;
    background-color: white;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    scale: 0.5;
    line-height: 40px;
    margin: -267px -212px;
}

/* <-- Preview */


.page-pdf .btn {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    margin-top: 10px;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.page-pdf .btn:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


@media screen and (max-width: 1150px) {
    .page-pdf .centralizar {
        flex-direction: column;
        align-items: center;
    }

    #preview {
        margin-top: -350px;
    }

}


@media screen and (max-width: 768px) {
    #preview {
        scale: 0.3;
        margin: -490px 0 -440px 0;
    }

    .ql-editor {
        max-width: 450px;
    }
}