<div class="page-conversor-numerico">
    <div class="content-wrapper">
        <section id="section-conversor-numerico">
            <h2>Conversor Numérico</h2>
            <div class="box">
                <div class="parte">
                    <label for="input_decimal">Decimal</label>
                    <input type="text" id="input_decimal" placeholder="Digite um número decimal">
                    <span class="erro decimal">Por favor, digite apenas números!</span>
                </div>
                <div class="parte">
                    <label for="input_binario">Binário</label>
                    <input type="text" id="input_binario" placeholder="Digite um número binário">
                    <span class="erro binario">Por favor, digite apenas 0 e 1!</span>
                </div>
                <div class="parte">
                    <label for="input_octal">Octal</label>
                    <input type="text" id="input_octal" placeholder="Digite um número octal">
                    <span class="erro octal">Por favor, digite apenas números de 0 a 7!</span>
                </div>
                <div class="parte">
                    <label for="input_hexadecimal">Hexadecimal</label>
                    <input type="text" id="input_hexadecimal" placeholder="Digite um número hexadecimal">
                    <span class="erro hexadecimal">Por favor, digite apenas números e letras de A a F!</span>
                </div>
            </div>
        </section>

        <section id="section-conversor-de-texto">
            <h2>Tradutor Binário</h2>
            <div class="box">
                <div class="parte">
                    <label for="input_texto_binario">Binário</label>
                    <textarea id="input_texto_binario" placeholder="Digite um código binário"></textarea>
                    <span class="erro textarea-binario">Por favor, digite apenas 0 e 1!</span>
                </div>
                <div class="parte">
                    <label for="input_texto">Texto</label>
                    <textarea id="input_texto" placeholder="Digite um texto"></textarea>
                </div>
            </div>
        </section>
    </div> <!-- content-wrapper -->
</div> <!-- page-conversor-numerico -->
