<div class="page-pdf">

    <div class="centralizar">

        <!-- Galeria de Imagens -->
        <section class="galeria-imagens">
            <div class="cabecalho-galeria">
                <div class="titulo-galeria">
                    <i class="bi bi-images"></i>
                    <h4>Biblioteca de Imagens para seu PDF</h4>
                </div>
                <div class="acoes-galeria">
                    <label class="area-upload" for="upload-img">
                        <i class="bi bi-cloud-upload"></i>
                        <span>Arraste ou clique para fazer upload</span>
                    </label>
                    <input type="file" id="upload-img" accept="image/*" multiple hidden>
                </div>
            </div>

            <div class="grade-imagens">
                <!-- Cartão de Imagem -->




            </div>
        </section>

        <div class="pdf-edit">

            <!-- Preview -->
            <iframe id="preview"></iframe>

            <!-- editor HTML -->
            <div class="editor-html">
                <form class="mode" method="post" target="__blank">

                    <p id="css">Código CSS</p>
                    <textarea class="codigo-css" name="css" placeholder=""></textarea>

                    <p id="html">Código HTML</p>
                    <textarea class="codigo-html" name="html" placeholder="<h1>Olá Mundo!</h1>"></textarea>

                    <button type="button" class="btn-pdf" name="btn-pdf">Visualizar</button>

                </form>
            </div>
        </div>

        <section class="add-arquivo">

            <form method="post" enctype="multipart/form-data" target="__blank">
                <label>Adicione seu arquivo Word (formatos .doc ou .docx)</label>
                <div class="input-group">
                    <input type="file" name="arquivo-word" class="form-control" id="inputGroupFile04"
                        aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept=".doc,.docx" required>
                    <button class="btn btn-outline-secondary" name="btn-pdf3" type="submit"
                        id="inputGroupFileAddon04">Enviar</button>
                </div>
            </form>

        </section>

    </div> <!-- Centralizar -->
</div> <!-- page-pdf -->