<header>
    <div class="centralizar">

        <div class="logo">
            <a href="home">Prático</a>
            <i class="bi bi-list"></i>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="home">Início</a></li>
                <li><a href="pdf">Gerador de PDF</a></li>
                <li><a href="conversor_de_unidade">Conversor de Unidades</a></li>
                <li><a href="conversor_numerico">Conversor Numérico</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="js/header.js"></script>