.page-conversor {
    padding: 50px 0;
    min-height: 60vh;
    background: linear-gradient(145deg, rgb(227, 250, 255), rgb(247, 253, 255));
    font-family: "Raleway", sans-serif;
}

.page-conversor h2 {
    text-align: center;
}

.page-conversor img {
    max-width: 80px;
}

.page-conversor #section-cartao {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.page-conversor #section-cartao .cartao {
    padding: 20px;
    justify-items: center;
    transition: 0.3s;
}

.page-conversor #section-cartao .cartao:hover {
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0px 5px 7px 0px rgb(100, 104, 155);
    scale: 1.2;

}

.page-conversor #section-conversor {
    text-align: center;
    background: white;
    box-shadow: 5px 5px 12px 0px #000;
    border-radius: 20px;
    padding: 50px 0;
    max-width: 900px;
    margin: auto;
}

.page-conversor #section-conversor .box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-conversor #section-conversor .parte {
    display: grid;
}

.page-conversor #section-conversor input {
    text-align: center;
}

.card-selected {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 5px 7px 0px rgb(100, 104, 155);
    scale: 1.2;
}