.page-pdf {
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(135deg, rgb(224, 224, 224), rgb(249, 249, 249));
    font-family: "Raleway", sans-serif;
}

.page-pdf .mode-switch {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.page-pdf .pdf-edit {
    display: flex;
    align-items: end;
    justify-content: end;
}

.ql-editor {
    width: 700px;
    min-height: 595px;
    background: white;
}

.ql-toolbar.ql-snow {
    background: linear-gradient(45deg, #4a484d, #333131);

}

.page-pdf .ql-snow .ql-picker {
    color: rgb(0, 0, 0);
}

.ql-snow .ql-picker-label::before {
    color: #fff;
}

.page-pdf .ql-snow .ql-stroke {
    stroke: #fff;
}


/* Modo HTML | CSS*/
.page-pdf .modo-html,
.page-pdf .codigo-css,
.page-pdf .codigo-html {
    min-width: 700px;
    max-width: 700px;
    overflow-y: hidden;
}

.page-pdf #css,
.page-pdf #html {
    color: white;
    background: #333131;
    cursor: pointer;
    border-bottom: 1px solid yellow;
    border-radius: 4px;
    margin-bottom: 0px;
}

.page-pdf .codigo-css,
.page-pdf .codigo-html {
    display: block;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    height: 294px;
    resize: vertical;
    outline: 0;
    overflow: auto;
}




/* Preview --> */

#preview {

    text-align: initial;
    width: 237mm;
    height: 338mm;
    border: 1px solid #000;
    padding: 0mm;
    background-color: white;
    overflow: auto;
    box-shadow: 7px 8px 10px rgba(0, 0, 0, 0.5);
    scale: 0.5;
    line-height: 40px;
    margin: -261px -212px;
}

/* <-- Preview */



.page-pdf .btn-pdf1,
.page-pdf .btn-pdf2 {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    margin-top: 10px;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.page-pdf .btn-pdf1:hover,
.page-pdf .btn-pdf2:hover,
.page-pdf .btn-outline-secondary:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}


.page-pdf section.add-arquivo {
    margin-top: 60px;
}

.page-pdf section.add-arquivo label {
    font-size: 20px;
}

.page-pdf .btn-outline-secondary {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
}



@media screen and (max-width: 1150px) {
    .page-pdf .pdf-edit {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }

    #preview {
        margin-top: -350px;
    }

}


@media screen and (max-width: 768px) {
    #preview {
        scale: 0.3;
        margin: -490px 0 -440px 0;
    }

    .ql-editor {
        width: 100%;
    }

    .page-pdf .modo-html,
    .page-pdf .codigo-css,
    .page-pdf .codigo-html {
        min-width: 0;
        width: 99%;
    }

}